<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz animal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of animals" (click)="guess(item.title)">
      <ion-label>
        <h3>{{ item.title }}</h3>
        <p>{{ item.desc }}</p>
      </ion-label>
      <ion-avatar slot="start">
        <ion-img src="/assets/{{ item.image }}"></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="play()" [color]="pickedAnimalIndex !== null ?'danger':'success'">

      {{ pickedAnimalIndex !== null ? 'cliquer sur un animal' : 'Jouer un son' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>